In [13]:
import numpy as np
import pandas as pd

In [15]:
billingRaw = pd.read_csv('../Dataset/billing.csv')
eventsRaw = pd.read_csv('../Dataset/events.csv')
sessionsRaw = pd.read_csv('../Dataset/sessions.csv')
usersRaw = pd.read_csv('../Dataset/users.csv')

In [17]:
billingRaw[:5]

,user_id,month,plan_tier,active_seats,mrr,discount_applied,invoices_overdue,support_ticket_count
0,f94d1824-8742-4000-8b6d-39d70958490b,2024-05,free,2,0.0,0,0,0
1,f94d1824-8742-4000-8b6d-39d70958490b,2024-06,free,2,0.0,0,0,0
2,f94d1824-8742-4000-8b6d-39d70958490b,2024-07,free,1,0.0,0,0,0
3,f94d1824-8742-4000-8b6d-39d70958490b,2024-08,free,1,0.0,0,0,0
4,f94d1824-8742-4000-8b6d-39d70958490b,2024-09,free,1,0.0,0,0,0